---
import PrettyDate from '@/components/PrettyDate.astro';
const {post} = Astro.props;
---

<li>
  <article>
    <a href={`/blog/${post.slug}`}>
      <h2>{post.title}</h2>
      <p>{post.description}</p>
      <div class="byline">
        <span>🌹</span>
        <PrettyDate date={post.published_at} />
      </div>
    </a>
  </article>
</li>

<style>
  :root {
    --desc-font-size: 1.25rem;
  }

  li + li {
    border-top: 1px dotted var(--color-blue-500);
  }

  a {
    display: block;
    border-radius: 0.5rem;
    padding: calc(var(--margin-y) / 2) var(--margin-x);
  }

  a:hover,
  a:active {
    background-color: var(--color-blue-50);
  }

  h2 {
    margin-bottom: 0.75rem;
  }

  p {
    font-family: var(--font-sans);
    font-size: var(--desc-font-size);
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 0.75rem;
  }

  .byline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
  }

  @media (min-width: 640px) {
    :root {
      --desc-font-size: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    :root {
      --desc-font-size: 1.75rem;
    }
  }

  @media (min-width: 768px) {
    :root {
      --desc-font-size: 1.75rem;
    }
  }
</style>
